---
interface Props {
	imagen: string;
	title: string;
	body: string;
	href: string;
}

const { href, imagen, title, body } = Astro.props;
---

<a href={href} class="bg-kai-600 rounded-md my-4 flex flex-col items-center md:my-2 lg:my-2 mx-0  md:mr-2 lg:mr-2 md:w-fit text-center hover:bg-kai-bg hover:opacity-100 hover:scale-110 hover:shadow-lg cursor-pointer" target="_blank">
	<img src={imagen} class=" w-[250px] blur-none rounded-t-md min-h-[150px]" alt="" />
	<h2 class="text-white py-4">
		<b>
			{title}
		</b>
	</h2>
	<p>
		{body}
	</p>
</a>
<style></style>
