<div class="h-[51px] md:h-[65px] flex justify-center items-center dark:text-white border-b-2">
    <span><a href="/" class="hover:underline text-md mx-4">Home</a></span>
    <span><a href="" class="hover:underline text-md mx-4">Contact</a></span>
    <span><a href="" class="hover:underline text-md mx-4">Proyects</a></span>
</div>